body {
	font-family: 'Itim', cursive;
	margin: 0;
}

#login-dialog, #create-album-dialog {
	display: none;
}

.dialog-container {
	background: white;
	padding: 45px;
	font-size: 130%;
}

/* hide the legend */
.dialog-container legend {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.dialog-container fieldset {
	border: none;
}

.dialog-container h1 {
	text-align: center;
}

.dialog-container input {
	width: 100%;
	line-height: 1.2;
	box-sizing: border-box;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	background: #f2f2f2;
}

.dialog-container button {
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
	border: none;
    cursor: pointer;
    width: 100%;
	font-size: 100%;
}

.dialog-container button:hover {
	 opacity: 0.8;
}

#hrb-entry-root img {
	/* Just in case there are inline attributes */
	width: 100%;
	height: auto;
}

.hrb-entry {
	position: relative;
	width: 100%;
	height: auto;
	isolation: isolate;
}

.hrb-entry .perm-overlay-box {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 48px;
}

.hrb-entry .text-overlay-box {

	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
}

.hrb-entry .text-overlay-box,
.hrb-entry .perm-overlay-box {
	color: white;
	background-color: rgba(0%, 0%, 20%, 0.5);
	padding: 5px;

	line-height: normal;
	border-radius: 10px;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#hrb-entry-root .hrb-entry:hover,
#hrb-entry-root .hrb-entry:focus {
	cursor: pointer;
}

#hrb-entry-root .hrb-entry.selected-entry img {
	opacity: 0.5;
}

#hrb-entry-root .hrb-entry:hover span.text-overlay-box,
#hrb-entry-root .hrb-entry:focus span.text-overlay-box{
	opacity: 0.8;
}

#hrb-entry-prototype {
	display: none;
}

/* Refer to: https://css-tricks.com/seamless-responsive-photo-grid/ */
#hrb-entry-root {
	line-height: 0;
	-webkit-column-count: 6;
	-webkit-column-gap: 0;
	-moz-column-count: 6;
	-moz-column-gap: 0;
	column-count: 6;
	column-gap: 0;
}

@media (max-width: 1280px) {
	#hrb-entry-root {
		-moz-column-count: 5;
		-webkit-column-count: 5;
		column-count: 5;
	}
}

@media (max-width: 1000px) {
	#hrb-entry-root {
		-moz-column-count: 4;
		-webkit-column-count: 4;
		column-count: 4;
	}
}

@media (max-width: 800px) {
	#hrb-entry-root {
		-moz-column-count: 3;
		-webkit-column-count: 3;
		column-count: 3;
	}
}

@media (max-width: 500px) {
	#hrb-entry-root {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}

.topnav {
	z-index: 1;
	position: sticky;
	top: 0;
	width: 100%;
	background-color: rgba(5%, 5%, 10%, 0.8);
	height: 3em;
	line-height: 3em;
	display: flex;
}

/* Style the links inside the navigation bar */
.topnav .nav-level1 {
	color: #f2f2f2;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	margin: auto 0;
}

.topnav .nav-level1 .nav-icons {
	font-size: 2em;
	vertical-align: middle;
}

#current-page {
	font-size: 1.5em;
	vertical-align: middle;
	width: 20px;
	cursor: text;
	color: black;
}

.topnav #username-nav {
	font-size: 1.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* hide the ugly file upload form */
#file-upload {
	display:none;
}

.topnav .nav-logo {
	background-color: whitesmoke;
	max-height: 100%;
	margin: auto 0;
}

/* Change the color of links on hover */
.topnav .nav-level1:hover {
	background-color: #ddd;
	color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

/* The Modal lightbox (background) */
.modal {
	z-index: 1;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

/* The lightbox buttons*/
.light-box-button.material-icons {
	font-size: 8.0vmin;
	user-select: none;
	-webkit-user-select: none;
	background-color: transparent;
	border-radius: 10px;
}

/* The lightbox buttons*/
.light-box-button.material-icons.highlighted {
	color: black;
	background-color: rgba(100%, 100%, 100%, 0.5);
}

.light-box-button.material-icons.highlighted:hover,
.light-box-button.material-icons.highlighted:focus {
	color: black;
	background-color: white;
}

/* font size set to 0 to avoid extra space between icons */
.light-box-button-bar {
	font-size: 0;
	border-radius: 10px;
	position: absolute;
	background-color: rgba(50%, 50%, 50%, 0.5);
	top: 10px;
	right: 25px;
	color: white;
	user-select: none;
	-webkit-user-select: none;
}

.light-box-button.material-icons:hover,
.light-box-button.material-icons:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.tooltip {
	position: relative;
}

.has-tooltip {
	position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
	font-size: 1rem;
	visibility: hidden;
	background-color: white;
	color: black;
	text-align: center;
	padding: 5px;
	margin: 2px;
	border-radius: 6px;

	position: absolute;
	left: 0;
	top: 100%;

	font-family: sans-serif;
}

#share-link-textbox {
	width: 60vw;
}

.material-icons {
	vertical-align: middle;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
}

section.heading {
	margin-left: 20px;
	font-family: 'Love Ya Like A Sister', cursive;
}

#toast {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	color: rgba(0%, 20%, 20%, 1.0);
	padding: 20px;
	background-color: rgba(95%, 95%, 100%, 0.8);
	z-index: 2;
}
